

.options_menu {
    flex-basis: 15%; 
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .visual_results {
    flex-basis: 85%; 
    flex-grow: 0;
    flex-shrink: 0;
  }

  .enrich_container {
    height: 28rem;
  }