.full-width-container {
  width: 85vw;
  margin: 0 auto;
  padding: 0 1vw;
}

.output_container {
  height: 68vh;
  width: 100%;
  margin-top: 1rem;
}

.visual_results {
  width: 100%;
  height: 100%;
  border: 2px solid #dee2e6;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right-buttons {
  display: flex;
  gap: 10px;
}
